<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434702964021-99itut6l7q67g40eeghuap4ht0vpkq53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434702964021-99itut6l7q67g40eeghuap4ht0vpkq53</string>
	<key>API_KEY</key>
	<string>AIzaSyDwbl2N-95ED6dOqVRqKuLqB82ZgHGyjSg</string>
	<key>GCM_SENDER_ID</key>
	<string>434702964021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lazykazee.compass</string>
	<key>PROJECT_ID</key>
	<string>dest-a3045</string>
	<key>STORAGE_BUCKET</key>
	<string>dest-a3045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434702964021:ios:88c45864df1e0f7f4b687c</string>
	<key>DATABASE_URL</key>
	<string>https://dest-a3045.firebaseio.com</string>
</dict>
</plist>